.filter-show {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  font-size: 20px;
  text-align: center;
  
 
  width: 100%;
}
.filters {
  padding: 10px;
  margin-left: 10px;
  background-color: rgb(37, 34, 34);
  display: flex;
  border-radius: 1%;
}

.hide {
  display: none;
}
ul {
  margin-top: 0px;
}
.genres-container-filter {
  display: flex;
  align-items: center;
  justify-content: left;
  text-align: left;
  padding: 5px;
  
}
.genres-container-select {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #77a1f7;
  padding: 1px;
  font-size: 30px;
  border-radius: 5%;
  padding: 5px;
  text-align: center;
}

.genres-names {
  
  font-size: 20px;
  cursor: pointer;
  margin-top: 10px;
}
#list-genre{
  background-color: #7a63ff;
  border: solid white 3px;
}
